.start-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to top right, #111, #333);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 999;
}

.start-screen h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.start-screen button {
  background-color: hotpink;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
}

.start-screen button:hover {
  background-color: deeppink;
}
